.section_addDays {
    background: #F5F5F5;
}

.container {
    max-width: 390px;
    margin: 0 auto;
}

.desc_day {
    margin-top: 20px;
    margin-bottom: 35px;
}

.desc_day h3 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}
.section_addDays {
    background: #F5F5F5;
}

.desc_day {
    margin-top: 20px;
    margin-bottom: 35px;
}

.desc_day h3 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.add_image {
    margin-bottom: 10px;
}

.add_image h3 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}


.add_image {
    margin-bottom: 10px;
}

.add_image h3 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.tag_ol {
    counter-reset: myCounter;
    padding: 0;
}

.tag_li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.tag_li h1 {
    margin-bottom: 0;
}

.tag_li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: #000000;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 27px;
    width: 27px;
    height: 27px;
}

